img {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  max-width: 100%;
  height: auto;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
}
